footer#footer(role='contentinfo')
  .footer-timer
  .footer-bacpopin
  .footerreinsurance
    .container
      ul
        li.icon-reassurance
          .content-asset.hmFooter
            // dwMarker="content" dwContentID="bdOvQiaaipPdsaaadjRjlmblND"
            span.icon-footer_secure
            a.linkAssu.popupfooter(href='http://www.etam.com/ETAM_Footer_HomeInsurance.html')
              font
                font Secure payment
          // End content-asset
        li.icon-reassurance.hideMobile
          .content-asset.hmFooter
            // dwMarker="content" dwContentID="debEoiaaipnEwaaadjTjlmclND"
            span.icon-footer_delivery
            a.linkAssu.popupfooter(href='http://www.etam.com/ETAM_Footer_HomeInsurance.html')
              font
                font Shipping Levies
          // End content-asset
        li.icon-reassurance
          .content-asset.hmFooter
            // dwMarker="content" dwContentID="bd8VMiaaipgNwaaadjOzlmblND"
            span.icon-header_basket
            a.linkAssu.popupfooter(href='http://www.etam.com/ETAM_Footer_HomeInsurance.html')
              font
                font Free delivery on orders over 60 €
          // End content-asset
        li.icon-reassurance
          .content-asset.hmFooter
            // dwMarker="content" dwContentID="bd6d6iaaipkkgaaadjZjlmblND"
            span.icon-footer_return
            a.linkAssu.popupfooter(href='http://www.etam.com/ETAM_Footer_HomeInsurance.html')
              font
                font 30 days to change your mind
          // End content-asset
  .container.fmiddle
    .footer_nsw
      p.title
        font
          font Stay Connected
      p
        font
          font
            | Subscribe to the Etam Newsletter and receive our news and special offers
      form.footerNewsletter(method='POST', action='/on/demandware.store/Sites-ETAM_FR-Site/fr/Newsletter-DisplayPopup', novalidate='novalidate')
        fieldset.form-row
          input.email-input(type='text', name='dwfrm_newsletter_email')
          label
            font
              font E-mail address
          font
            font
              input.popupNewsletter.submit.validDefault(type='submit', value=' Apply', autocomplete='off')
    .footerLinks
      .content-asset.hmFooter
        // dwMarker="content" dwContentID="bdrTaiaaip3AoaaadjD5lmblND"
        // START:flotting bar
        .subFooter
          ul.wrapSubFooter
            li.titleSubFooter
              a.titleItemFooter
                font
                  font  My command 
              ul.linkSubFooter
                li
                  a(href='https://www.etam.com/moncompte/commandes')
                    font
                      font  Tracking control 
                li
                  a(href='http://www.etam.com/livraison-rea3.html')
                    font
                      font Shipping 
                li
                  a(href='http://www.etam.com/livraison-rea3.html')
                    font
                      font  Delivery time 
                li
                  a(href='http://www.etam.com/echange-remboursement-rea2.html')
                    font
                      font  Exchange and refund 
                li
                  a(href='http://www.etam.com/moyens-paiement-rea4.html')
                    font
                      font  Means of payment 
                li
                  a(href='http://www.etam.com/livraison-rea3.html')
                    font
                      font  Home delivery / Relay point 
                li
                  a(href='http://www.etam.com/carte-cadeau-rea6.html')
                    font
                      font  Buy my Etam gift card 
          ul.wrapSubFooter
            li.titleSubFooter
              a.titleItemFooter
                font
                  font  My services 
              ul.linkSubFooter
                li
                  a.linkFt.popupfooter(href='http://www.etam.com/ETAM_Footer_HomeInsurance.html')
                    font
                      font  My guarantees 
                li
                  a(href='http://store.etam.com/fr/', target='_blank')
                    font
                      font  Find a store 
                li
                  a(href='http://www.etam.com/faq-rea1.html')
                    font
                      font  Questions answers 
                li
                  a(href='https://wbiprod.storedvalue.com/WBI/lookupservlet?language=fr', target='_blank')
                    font
                      font View the balance of my gift card
                li
                  a.linkFt.popupfooter(href='http://www.etam.com/Popin_emballage_cadeaux.html')
                    font
                      font Gift wrap 
                li
                  a(href='http://fidelite.etam.com/accueil.html', target='_blank')
                    font
                      font  Access to loyalty space 
                li
                  a(href='http://www.etam.com/code-promo-etam.html')
                    font
                      font ETAM promo codes  
          ul.wrapSubFooter
            li.titleSubFooter
              a.titleItemFooter
                font
                  font The society
              ul.linkSubFooter
                li
                  a(href='https://www.etam.com/nous-contacter')
                    span.icon-phone
                    font
                      font Contact us 
                li
                  a(href='http://store.etam.com/fr/', target='_blank')
                    span.icon-store
                    font
                      font Shopping Etam 
                li
                  a(href='http://fidelite.etam.com/accueil.html', target='_blank')
                    font
                      font My Loyalty Space
                li
                  a(href='/soutiens-gorges/prix-craquants')
                    font
                      font Good deals
                li
                  a(href='http://www.etamdeveloppement.com/', target='_blank')
                    font
                      font The Etam Group 
                li
                  a(href='http://www.etam.com/quisommesnous.html')
                    font
                      font Who are we ?
                li
                  a(href='http://www.etamdeveloppement.com/talents/', target='_blank')
                    font
                      font Etam Recrute 
                li
                  a(href='http://www.etam.com/home_lookbooks.html')
                    font
                      font Lookbooks
      // End content-asset
    .shareFooter
      .content-asset.hmFooter
        // dwMarker="content" dwContentID="beciAiaaipMkIaaadjGzlmblND"
        ul
          li.title
            font
              font Follow us
          li
            a.icon-social_facebook(href='https://www.facebook.com/etam/', target='_blank')
          li
            a.icon-social_instagram(href='https://instagram.com/etam/', target='_blank')
          li
            a.icon-social_twitter(href='https://twitter.com/etam_france/', target='_blank')
          li
            a.icon-social_youtube(href='https://www.youtube.com/user/etamfrance/', target='_blank')
          li
            a.icon-social_pinterest(href='https://fr.pinterest.com/etamfrance/', target='_blank')
          li
            a.icon-social_snap(href='https://www.snapchat.com/add/etam_fr', target='_blank')
        ul
          li.title
            font
              font Download the application
          li
            a.icon-app_iOs(href='https://itunes.apple.com/fr/app/etam/id1145300446?mt=8', target='_blank')
              span
                font
                  font IOS
          li
            a.icon-app_android(href='https://play.google.com/store/apps/details?id=com.etam.app', target='_blank')
              span
                font
                  font Android
      // End content-asset
  .content-asset.hmFooter
    // dwMarker="content" dwContentID="bdDWMiaaipyOEaaadjBzlmblND"
    .copyright
      .container
        p
          font
            font © Copyright 2016 Etam. 
            a#footerInfosLeg.popupfooter.hideMobile(href='http://www.etam.com/Popin_CGV.html')
              font Legal information
          span
            font
              font All Rights reserved
          a#footerInfosLeg.popupfooter.hideMobile(href='http://www.etam.com/Popin_CGV.html')
            font
    .under-seo
      .container
        p
          font
            font The online fashion store Etam.com offers a collection of women's clothing: 
          a(href='http://www.etam.com/pret-a-porter-2')
            font
              font Ready-to-wear
          font
            font  , 
          a(href='http://www.etam.com/soutiens-gorges')
            font
              font Lingerie
        ul
          li
            a(href='http://www.etam.com/soutiens-gorges')
              font
                font Lingerie: 
          li
            a(href='http://www.etam.com/soutiens-gorges')
              font
                font Bra 
          li
            a(href='http://www.etam.com/culottes-et-bas')
              font
                font Briefs 
          li
            a(href='http://www.etam.com/culottes-et-bas-strings')
              font
                font Strings 
          li
            a(href='http://www.etam.com/lingerie-de-nuit-caracos')
              font
                font Caracos 
          li
            a(href='http://www.etam.com/lingerie-de-nuit-les-nuisettes-glam')
              font
                font Nighties 
          li
            a(href='http://www.etam.com/lingerie-de-nuit-pyjamas-2-pieces')
              font
                font Pajamas 
          li
            a(href='http://www.etam.com/soutiens-gorge-et-aussi-bodys')
              font
                font Bodys 
          li
            a(href='http://www.etam.com/culottes-et-bas-porte-jarretelles')
              font
                font Suspender belts 
          li
            a(href='http://www.etam.com/soutiens-gorges-bustiers-guepieres')
              font
                font Bustiers 
          li
            a(href='http://www.etam.com/soutiens-gorges-astuces-de-pro')
              font
                font Accessories 
        ul
          li
            a(href='http://www.etam.com/pret-a-porter-2')
              font
                font Ready to wear : 
          li
            a(href='http://www.etam.com/pret-a-porter-tops-t-shirts')
              font
                font Tee-shirts 
          li
            a(href='http://www.etam.com/pret-a-porter-tops-t-shirts')
              font
                font Women's 
          li
            a(href='http://www.etam.com/pret-a-porter-chemisiers')
              font
                font Blouses 
          li
            a(href='http://www.etam.com/pret-a-porter-pulls-gilets')
              font
                font Sweaters 
          li
            a(href='http://www.etam.com/pret-a-porter-pulls-gilets')
              font
                font Waistcoats 
          li
            a(href='http://www.etam.com/pret-a-porter-robes')
              font
                font Wedding Dresses 
          li
            a(href='http://www.etam.com/pret-a-porter-jupes')
              font
                font Skirts 
          li
            a(href='http://www.etam.com/pret-a-porter-pantalons-shorts')
              font
                font Trousers 
          li
            a(href='http://www.etam.com/pret-a-porter-jeans')
              font
                font Jeans 
          li
            a(href='http://www.etam.com/pret-a-porter-manteaux')
              font
                font Coats 
          li
            a(href='http://www.etam.com/pret-a-porter-vestes')
              font
                font Jackets & Coats 
          li
            a(href='http://www.etam.com/pret-a-porter-accessoires-les-sacs')
              font
                font Bags 
          li
            a(href='http://www.etam.com/pret-a-porter-accessoires-chaussures')
              font
                font Shoes 
          li
            a(href='http://www.etam.com/accessoires-4')
              font
                font Accessories 
        ul
          li
            a(href='http://www.etam.com/soutiens-gorges-glam-by-etam')
              font
                font Exclusive Collections: 
          li
            a(href='http://www.etam.com/recherche?cgid=SGsexyTransparency')
              font
                font Sexy Lingerie 
          li
            a(href='http://www.etam.com/maillots-de-bain')
              font
                font Swimwear 
          li
            a(href='http://www.etam.com/corner_sport.html')
              font
                font Sport 
          li
            a(href='http://www.etam.com/soutiens-gorges-glam-by-etam')
              font
                font Glam by Etam 
          li
            a(href='http://www.etam.com/soutiens-gorges-pure-fit-by-etam')
              font
                font Pure Fit by Etam 
          li
            a(href='http://www.etam.com/collants')
              font
                font Tights 
  // End content-asset
.txtMemberPrice
  a.closeToolMember
    font
      font X
  .content-asset.hmFooter
    // dwMarker="content" dwContentID="bcBxciaaipIucaaadq2xd61Rc4"
    font
      font
        | Permanent offer reserved for customers holding myEtam loyalty card, valid on Beauty products (excluding bath and body products) Discount applicable directly to your shopping cart after connection to your online account, not combinable with any other promotion in progress.
  // End content-asset
