doctype html
html.js.translated-ltr.desktop.landscape(lang='fr')
  head
    
    include ./partials/head.pug
    
    link(href='/stylesheets/headStyles.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/etamStyles.css', rel='stylesheet', type='text/css')
    
    // Required for Previews and Experiments
    script(src="https://code.jquery.com/jquery-1.12.4.min.js")
    script
      = ctx?"window.prismic = { endpoint: '" + ctx.endpoint + "' };":""
    script(src="//static.cdn.prismic.io/prismic.min.js")
  body
    
    include ./partials/header.pug
    
    #main(role='main')
      block body
      
    include ./partials/footer.pug