<!DOCTYPE html>
<html lang="fr" class="js translated-ltr desktop landscape">
  <head>
    <meta name="robots" content="noindex, nofollow">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, minimum-scale = 1.0,user-scalable = no">
    <title>Lingerie shop: discover our collections of lingerie, clothes, swimwear, accessories and make bargains with Etam.  - Etam</title>
    <link href="http://demandware.edgesuite.net/aaww_prd/on/demandware.static/Sites-ETAM_FR-Site/-/default/dwb95cc8e5/images/favicon.ico" rel="shortcut icon">
    <meta name="description" content="Etam : boutique de lingerie. Découvrez nos collections de lingerie, vêtements, prêt-à-porter, maillots de bain, acc ETAM">
    <meta name="keywords" content="ETAM">
    <link rel="stylesheet" href="http://demandware.edgesuite.net/aaww_prd/on/demandware.static/Sites-ETAM_FR-Site/-/fr/v1485354181302/css/style.css">
    <link href="http://demandware.edgesuite.net/aaww_prd/on/demandware.static/-/Library-Sites-ETAM_sharedLibrary/fr/v1485354181302/MEDIA/css/quickfix2.css" rel="stylesheet" type="text/css">
    <link href="../public/stylesheets/headStyles.css" rel="stylesheet" type="text/css">
  </head>
<body>
  <div id="wrapper" class="pt_storefront">
    <div id="header" role="banner">
      <div class="theader">
        <div class="theader-wrapper">
          <div class="theader-offers">
            <div class="theader-offers-reinsurance">
              <p><font><font>Free delivery on orders over 60 €</font></font></p>
            </div>
          </div>
          <div class="theader-nav">
            <ul class="menu-utility-user">
              <li class="accessAccountEtam">
                <a title="Account" class="user-login ">
                  <span><font><font>Account</font></font></span>
                </a>
              </li>
                <li class="fidelity">
                  <a href="#"><font><font>My Loyalty Space</font></font></a>
                </li> 
              <li class="wishlist">
                <a href="#">
                  <span><font><font>favorites </font></font></span>
                  <span class="number"><font><font>0</font></font></span>
                </a>
              </li>
            </ul>
            <div id="mini-cart" class="minicart">
              <div class="mini-cart-total">
                <div class="mini-cart-emptywrap">
                  <span class="mini-cart-label activeEtam"><font><font>My Cart </font></font></span>
                  <span class="mini-cart-empty"><font><font>0</font></font></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mheader">
        <div class="mheader-wrapper">
          <div class="mobileSection">
            <div class="selectLang fl">
              <a class="languageSelected filled"><font><font>French</font></font></a>
            </div>
            <ul class="stores">
              <li class="etamStore">
                <a href="#" class="icon-store"><font><font>Shopping</font></font></a>
              </li> 
            </ul>
          </div>
          <h1 class="primary-logo">
            <a href="#" class="icon-etam">
              <img src="http://demandware.edgesuite.net/aaww_prd/on/demandware.static/Sites-ETAM_FR-Site/-/default/dw63b2ca44/images/logo.png" alt="ETAM">
              <span itemprop="name"><font><font>ETAM</font></font></span>
            </a>
          </h1>
          <div class="header-search">
            <form role="search" action="http://www.etam.com/recherche" method="get" name="simpleSearch" novalidate="novalidate">
              <fieldset class="icon-search">
                <font><font><input type="submit" value="Go" class="icon-search validDefault" disabled="disabled" autocomplete="off"></font></font>
                <input type="text" id="q" name="q" value="" placeholder="Chercher" aria-invalid="false" class="" autocomplete="off">
                <span class="close-search"></span>
              </fieldset>
            </form>
          </div>
        </div>
      </div>

      <div id="navigation" class="navigation" role="navigation">
        <nav>
          <ul class="menu-category level-1 clearfix">
            <li class="mainItem ">
              <span class="icon ico"></span>
              <a href="#" class="level-1"><font><font>SALES</font></font></a>
            </li>
            <li class="mainItem ">
              <span class="icon ico"></span>
              <a href="#" class="level-1"><font><font>NEWS</font></font></a>
            </li>
            <li class="mainItem ">
              <span class="icon ico"></span>
              <a href="#" class="level-1"><font><font>Bra</font></font></a>
            </li>
            <li class="mainItem ">
              <span class="icon ico"></span>
              <a href="#" class="level-1"><font><font>Panties &amp; Stockings</font></font></a>
            </li>
            <li class="mainItem ">
              <span class="icon ico"></span>
              <a href="#" class="level-1"><font><font>Night</font></font></a>
            </li>
            <li class="mainItem ">
              <span class="icon ico"></span>
              <a href="#" class="level-1"><font><font>Ready to wear</font></font></a>
            </li>
            <li class="mainItem ">
              <span class="icon ico"></span>
              <a href="#" class="level-1"><font><font>Accessories</font></font></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>


  <div id="main" role="main">
    <h1>Yo!</h1>
  </div>




  <footer id="footer" role="contentinfo">
    <div class="footer-timer"></div>
    <div class="footer-bacpopin"></div>
    <div class="footerreinsurance">
      <div class="container">
        <ul>
            <li class="icon-reassurance ">
              <div class="content-asset hmFooter">
                <!-- dwMarker="content" dwContentID="bdOvQiaaipPdsaaadjRjlmblND" -->
                <span class="icon-footer_secure"></span>
                <a href="http://www.etam.com/ETAM_Footer_HomeInsurance.html" class="linkAssu popupfooter">
                  <font><font>Secure payment</font></font>
                </a>
              </div> <!-- End content-asset -->
            </li>
            <li class="icon-reassurance  hideMobile">
              <div class="content-asset hmFooter">
                <!-- dwMarker="content" dwContentID="debEoiaaipnEwaaadjTjlmclND" -->
                <span class="icon-footer_delivery"></span>
                <a href="http://www.etam.com/ETAM_Footer_HomeInsurance.html" class="linkAssu popupfooter">
                  <font><font>Shipping Levies</font></font>
                </a>
              </div> <!-- End content-asset -->
            </li>
            <li class="icon-reassurance ">
              <div class="content-asset hmFooter">
                <!-- dwMarker="content" dwContentID="bd8VMiaaipgNwaaadjOzlmblND" -->
                <span class="icon-header_basket"></span>
                <a href="http://www.etam.com/ETAM_Footer_HomeInsurance.html" class="linkAssu popupfooter"><font><font>Free delivery on orders over 60 €</font></font></a>
              </div> <!-- End content-asset -->
            </li>
            <li class="icon-reassurance ">
              <div class="content-asset hmFooter">
                <!-- dwMarker="content" dwContentID="bd6d6iaaipkkgaaadjZjlmblND" -->
                <span class="icon-footer_return"></span>
                <a href="http://www.etam.com/ETAM_Footer_HomeInsurance.html" class="linkAssu popupfooter"><font><font>30 days to change your mind</font></font></a>
              </div> <!-- End content-asset -->
            </li>
        </ul>
      </div>
    </div>
    <div class="container fmiddle">
      <div class="footer_nsw">
        <p class="title">
          <font><font>Stay Connected</font></font>
        </p>
        <p>
          <font><font>Subscribe to the Etam Newsletter and receive our news and special offers
    </font></font>
        </p>

        <form method="POST" class="footerNewsletter" action="/on/demandware.store/Sites-ETAM_FR-Site/fr/Newsletter-DisplayPopup" novalidate="novalidate">
          <fieldset class="form-row">
            <input type="text" class="email-input" name="dwfrm_newsletter_email">
            <label><font><font>E-mail address</font></font></label>
            <font><font><input type="submit" value=" Apply" class="popupNewsletter submit validDefault" autocomplete="off"></font></font>
          </fieldset>
        </form>
      </div>
      <div class="footerLinks">
        <div class="content-asset hmFooter">
          <!-- dwMarker="content" dwContentID="bdrTaiaaip3AoaaadjD5lmblND" -->
          <!--START:flotting bar -->
          <div class="subFooter">
            <ul class="wrapSubFooter">
              <li class="titleSubFooter"><a class="titleItemFooter"><font><font> My command </font></font></a>
                <ul class="linkSubFooter">
                  <li><a href="https://www.etam.com/moncompte/commandes"><font><font> Tracking control </font></font></a></li>
                  <li><a href="http://www.etam.com/livraison-rea3.html"><font><font>Shipping </font></font></a></li>
                  <li><a href="http://www.etam.com/livraison-rea3.html"><font><font> Delivery time </font></font></a></li>
                  <li><a href="http://www.etam.com/echange-remboursement-rea2.html"><font><font> Exchange and refund </font></font></a></li>
                  <li><a href="http://www.etam.com/moyens-paiement-rea4.html"><font><font> Means of payment </font></font></a></li>
                  <li><a href="http://www.etam.com/livraison-rea3.html"><font><font> Home delivery / Relay point </font></font></a></li>
                  <li><a href="http://www.etam.com/carte-cadeau-rea6.html"><font><font> Buy my Etam gift card </font></font></a></li>
                </ul>
              </li>
            </ul>
            <ul class="wrapSubFooter">
              <li class="titleSubFooter"><a class="titleItemFooter"><font><font> My services </font></font></a>
               <ul class="linkSubFooter">
                <li><a class="linkFt popupfooter" href="http://www.etam.com/ETAM_Footer_HomeInsurance.html"><font><font> My guarantees </font></font></a></li>
                <li><a href="http://store.etam.com/fr/" target="_blank"><font><font> Find a store </font></font></a></li>
                <li><a href="http://www.etam.com/faq-rea1.html"><font><font> Questions answers </font></font></a></li>
               <li><a href="https://wbiprod.storedvalue.com/WBI/lookupservlet?language=fr" target="_blank"><font><font>View the balance of my gift card</font></font></a></li>
                <li><a href="http://www.etam.com/Popin_emballage_cadeaux.html" class="linkFt popupfooter"><font><font>Gift wrap </font></font></a></li>
                <li><a href="http://fidelite.etam.com/accueil.html" target="_blank"><font><font> Access to loyalty space </font></font></a></li>
                <li><a href="http://www.etam.com/code-promo-etam.html"><font><font>ETAM promo codes  </font></font></a></li>
              </ul>
              </li>
            </ul>
            <ul class="wrapSubFooter">
              <li class="titleSubFooter"><a class="titleItemFooter"><font><font>The society</font></font></a>
               <ul class="linkSubFooter">
                <li><a href="https://www.etam.com/nous-contacter"><span class="icon-phone"></span><font><font>Contact us </font></font></a></li>
                <li><a href="http://store.etam.com/fr/" target="_blank"><span class="icon-store"></span><font><font>Shopping Etam </font></font></a></li>
                <li><a href="http://fidelite.etam.com/accueil.html" target="_blank"><font><font>My Loyalty Space</font></font></a></li>
                <li><a href="/soutiens-gorges/prix-craquants"><font><font>Good deals</font></font></a></li>
                <li><a href="http://www.etamdeveloppement.com/" target="_blank"><font><font>The Etam Group </font></font></a></li>
                <li><a href="http://www.etam.com/quisommesnous.html"><font><font>Who are we ?</font></font></a></li>
                <li><a href="http://www.etamdeveloppement.com/talents/" target="_blank"><font><font>Etam Recrute </font></font></a></li>
                <li><a href="http://www.etam.com/home_lookbooks.html"><font><font>Lookbooks</font></font></a></li>
               </ul>
              </li>
            </ul>
          </div>
        </div> <!-- End content-asset -->
      </div>
      <div class="shareFooter">
        <div class="content-asset hmFooter"><!-- dwMarker="content" dwContentID="beciAiaaipMkIaaadjGzlmblND" -->
          <ul>
           <li class="title"><font><font>Follow us</font></font></li>
           <li><a href="https://www.facebook.com/etam/" target="_blank" class="icon-social_facebook"></a></li>
           <li><a href="https://instagram.com/etam/" target="_blank" class="icon-social_instagram"></a></li>
           <li><a href="https://twitter.com/etam_france/" target="_blank" class="icon-social_twitter"></a></li>
           <li><a href="https://www.youtube.com/user/etamfrance/" target="_blank" class="icon-social_youtube"></a></li>
           <li><a href="https://fr.pinterest.com/etamfrance/" target="_blank" class="icon-social_pinterest"></a></li>
           <li><a href="https://www.snapchat.com/add/etam_fr" target="_blank" class="icon-social_snap"></a></li>
          </ul>
          <ul>
           <li class="title"><font><font>Download the application</font></font></li>
           <li><a href="https://itunes.apple.com/fr/app/etam/id1145300446?mt=8" target="_blank" class="icon-app_iOs"><span><font><font>IOS</font></font></span></a></li>
           <li><a href="https://play.google.com/store/apps/details?id=com.etam.app" target="_blank" class="icon-app_android"><span><font><font>Android</font></font></span></a></li>
          </ul>
        </div> <!-- End content-asset -->
      </div>
    </div>

    <div class="content-asset hmFooter">
      <!-- dwMarker="content" dwContentID="bdDWMiaaipyOEaaadjBzlmblND" -->
      <div class="copyright">
        <div class="container">
          <p>
            <font><font>© Copyright 2016 Etam. </font>
              <a class="popupfooter hideMobile" id="footerInfosLeg" href="http://www.etam.com/Popin_CGV.html"><font>Legal information</font></a>
            </font>
            <span><font><font>All Rights reserved</font></font></span>
            <a class="popupfooter hideMobile" id="footerInfosLeg" href="http://www.etam.com/Popin_CGV.html"><font></font></a>
          </p>
        </div>
      </div>
      <div class="under-seo">
        <div class="container">
          <p><font><font>The online fashion store Etam.com offers a collection of women's clothing: </font></font><a href="http://www.etam.com/pret-a-porter-2"><font><font>Ready-to-wear</font></font></a><font><font> , </font></font><a href="http://www.etam.com/soutiens-gorges"><font><font>Lingerie</font></font></a></p>
          <ul>
            <li><a href="http://www.etam.com/soutiens-gorges"><font><font>Lingerie: </font></font></a></li>
            <li><a href="http://www.etam.com/soutiens-gorges"><font><font>Bra </font></font></a></li>
            <li><a href="http://www.etam.com/culottes-et-bas"><font><font>Briefs </font></font></a></li>
            <li><a href="http://www.etam.com/culottes-et-bas-strings"><font><font>Strings </font></font></a></li>
            <li><a href="http://www.etam.com/lingerie-de-nuit-caracos"><font><font>Caracos </font></font></a></li>
            <li><a href="http://www.etam.com/lingerie-de-nuit-les-nuisettes-glam"><font><font>Nighties </font></font></a></li>
            <li><a href="http://www.etam.com/lingerie-de-nuit-pyjamas-2-pieces"><font><font>Pajamas </font></font></a></li>
            <li><a href="http://www.etam.com/soutiens-gorge-et-aussi-bodys"><font><font>Bodys </font></font></a></li>
            <li><a href="http://www.etam.com/culottes-et-bas-porte-jarretelles"><font><font>Suspender belts </font></font></a></li>
            <li><a href="http://www.etam.com/soutiens-gorges-bustiers-guepieres"><font><font>Bustiers </font></font></a></li>
            <li><a href="http://www.etam.com/soutiens-gorges-astuces-de-pro"><font><font>Accessories </font></font></a></li>
          </ul>
          <ul>
            <li><a href="http://www.etam.com/pret-a-porter-2"><font><font>Ready to wear : </font></font></a></li>
            <li><a href="http://www.etam.com/pret-a-porter-tops-t-shirts"><font><font>Tee-shirts </font></font></a></li>
            <li><a href="http://www.etam.com/pret-a-porter-tops-t-shirts"><font><font>Women's </font></font></a></li>
            <li><a href="http://www.etam.com/pret-a-porter-chemisiers"><font><font>Blouses </font></font></a></li>
            <li><a href="http://www.etam.com/pret-a-porter-pulls-gilets"><font><font>Sweaters </font></font></a></li>
            <li><a href="http://www.etam.com/pret-a-porter-pulls-gilets"><font><font>Waistcoats </font></font></a></li>
            <li><a href="http://www.etam.com/pret-a-porter-robes"><font><font>Wedding Dresses </font></font></a></li>
            <li><a href="http://www.etam.com/pret-a-porter-jupes"><font><font>Skirts </font></font></a></li>
            <li><a href="http://www.etam.com/pret-a-porter-pantalons-shorts"><font><font>Trousers </font></font></a></li>
            <li><a href="http://www.etam.com/pret-a-porter-jeans"><font><font>Jeans </font></font></a></li>
            <li><a href="http://www.etam.com/pret-a-porter-manteaux"><font><font>Coats </font></font></a></li>
            <li><a href="http://www.etam.com/pret-a-porter-vestes"><font><font>Jackets &amp; Coats </font></font></a></li>
            <li><a href="http://www.etam.com/pret-a-porter-accessoires-les-sacs"><font><font>Bags </font></font></a></li>
            <li><a href="http://www.etam.com/pret-a-porter-accessoires-chaussures"><font><font>Shoes </font></font></a></li>
            <li><a href="http://www.etam.com/accessoires-4"><font><font>Accessories </font></font></a></li>
          </ul>
          <ul>
            <li><a href="http://www.etam.com/soutiens-gorges-glam-by-etam"><font><font>Exclusive Collections: </font></font></a></li>
            <li><a href="http://www.etam.com/recherche?cgid=SGsexyTransparency"><font><font>Sexy Lingerie </font></font></a></li>
            <li><a href="http://www.etam.com/maillots-de-bain"><font><font>Swimwear </font></font></a></li>
            <li><a href="http://www.etam.com/corner_sport.html"><font><font>Sport </font></font></a></li>
            <li><a href="http://www.etam.com/soutiens-gorges-glam-by-etam"><font><font>Glam by Etam </font></font></a></li>
            <li><a href="http://www.etam.com/soutiens-gorges-pure-fit-by-etam"><font><font>Pure Fit by Etam </font></font></a></li>
            <li><a href="http://www.etam.com/collants"><font><font>Tights </font></font></a></li>
          </ul>
        </div>
      </div>
    </div> 
    <!-- End content-asset -->
  </footer>



<div class="txtMemberPrice">
<a class="closeToolMember"><font><font>X</font></font></a>
<div class="content-asset hmFooter"><!-- dwMarker="content" dwContentID="bcBxciaaipIucaaadq2xd61Rc4" --><font><font>
Permanent offer reserved for customers holding myEtam loyalty card, valid on Beauty products (excluding bath and body products) Discount applicable directly to your shopping cart after connection to your online account, not combinable with any other promotion in progress.
</font></font></div> <!-- End content-asset -->
</div>

</body>
</html>