extends ./layout-etam.pug

block body
  
  div.page-content
    
    div.page-number
      p 
        != pageContent.getNumber('page.numero-de-rubrique')
      p.edit-button(data-wio-id=pageContent.id)
    
    include ./partials/page-images.pug
    
    include ./partials/products.pug
    
    div.page-text
      != pageContent.getStructuredText('page.titre').asHtml(ctx.linkResolver)
      != pageContent.getStructuredText('page.texte').asHtml(ctx.linkResolver)
      a.return-link(href='/magazine') &larr; Back to home